<h3>Edit Animal</h3>

<section class="form">

<form action="/animals/<%=@animal.id %>" method="post">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%=@animal.name%>" required />
  </p>

  <p>
    <label for="name">Image:</label>
    <input type="text" name="image" id="image" value="<%=@animal.image%>" required />
  </p>

  <p>
    <label for="name">Type:</label>
    <input type="text" name="type" id="type" value="<%=@animal.type%>" required />
  </p>

  <p>
    <label for="name">Breed:</label>
    <input type="text" name="breed" id="breed" value="<%=@animal.breed%>" required />
  </p>

  <p>
    <label for="adoptable">Available For Adoption:</label>
      <select name="adoptable" id="adoptable" value="<%=@animal.adoptable%>"/>
        <% if @animal.adoptable == 't' %>
        <option value="true" selected>true</option>
        <option value="false">false</option>
        <% else %>
        <option value="true">true</option>
        <option value="false" selected>false</option>
        <% end %>
      </select>
  </p>

  <p>
    <label for="incare">In Care:</label>
      <select name="incare" id="incare" value="<%=@animal.incare%>"/>

        <% if @animal.incare == 't' %>
        <option value="true" selected>true</option>
        <option value="false">false</option>
        <% else %>
        <option value="true">true</option>
        <option value="false" selected>false</option>
        <% end %>

      </select>
  </p>

  <p>
    <label for="admission_date">Admission Date:</label>
    <input type="date" name="admission_date" id="admission_date" value="<%=@animal.admission_date%>" />
  </p>

  <input class="form_button" type="submit" value="Save" />

  <a class="button" href="/animals/<%=@animal.id %>">Cancel</a>

</form>

</section>
