<p>Name: <%= @animal.name %></p>
<p>Type: <%= @animal.type %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Adoptable: <%= @animal.adoptable %></p>
<p>In Care: <%= @animal.incare %></p>

<img src='/<%= @animal.image %>'/>

<a class="button" href="/animals/<%= @animal.id %>/edit"><img class="button_image" src="/edit.png" alt="Update"/></a>
<a class="button" href="/animals/<%= @animal.id %>/delete"><img class="button_image" src="/delete.png" alt="Delete"/></a>

<a href="/animals">Back</a>
