<h2>Adoptions</h2>

<p class="add_button"><a href="/adoptions/new">Create an adoption</a></p>

<content>
<% for adoption in @adoptions %>
<section class="animal">

<p><a href="/customers/<%= adoption.customer.id%>"><%= adoption.customer.name %></a> adopted <a href="/animals/<%=adoption.animal.id%>"><%= adoption.animal.name %></a> </p>
<img src="/<%=adoption.animal.image %>"/>

<a href="/adoptions/<%= adoption.id%>/delete"/>Cancel Adoption</a>
</section>

<% end %>
</content>
