<% for adoption in @adoptions %>

<p><a href="/customers/<%= adoption.customer.id%>"><%= adoption.customer.name %></a> adopted <a href="/animals/<%=adoption.animal.id%>"><%= adoption.animal.name %></a> </p><img src="/<%=adoption.animal.image %>"/>

<% end %>
