<h3>Customers</h3>

<p><a href="/customers/new">Add Customer</a></p>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact No</th>
    <th>Number of Animals Adopted</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><a href='/customers/<%= customer.id %>'><%= customer.name %></a></td>
    <td><%= customer.address %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.animals.count() %></td>
  </tr>
  <% end %>


</table>
