<h2>Customer</h2>

<p class="back_button"><a href="/customers">Back</a></p>

<section class="details">
<p>Name: <%= @customer.name %></p>
<p>Address: <%= @customer.address %></p>
<p>Phone Number: <%= @customer.phone_number %></p>
<section class="icons">
<a class="button" href="/customers/<%= @customer.id %>/edit"><img class="button_image" src="/edit.png" alt="Edit"/></a>
<a class="button" href="/customers/<%= @customer.id %>/delete"><img class="button_image" src="/delete.png" alt="Delete"/></a>
</section>
</section>


<% if @customer.animals.count() > 0 %>

<h3>Adopted Animals</h3>
<content>
<% for animal in @customer.animals() %>
<section class="animal">
<p><a href='/animals/<%= animal.id %>'><%= animal.name %></a></p>
<img class="animal_img" src='/<%= animal.image %>'/>

</section>

<% end %>
</content>

<% end %>
